body {
    background: #DDDDDD;
    font-family:'Times New Roman', Times, serif;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}


p{
    font-size: 1.5em; 
}


.bmd-layout-drawer > .list-group .list-group-item {
    font-size: 1.25em; 
}

.current {
    border: 2px solid black; 
}


.image {
    display: block;
    width: 28em;
    margin-left: auto;
    margin-right: auto;
}

.btn.btn-primary.nav-btn, .btn.btn-primary.nav-btn:hover, .btn.btn-primary.nav-btn:focus, .btn.btn-primary.nav-btn:active, .btn.btn-primary.nav-btn:active:focus {
    position: relative; 
    left: 500px; 
    top: -325px; 
    background-color: white;
    color: #800000; 
}

@media all and (max-width: 1200px){
    .btn.nav-btn {
        left: 400px;
    }
}

@media all and (max-width: 992px){
    .btn.nav-btn {
        left: 300px; 
    }
}

@media all and (max-width: 768px){
    .btn.nav-btn {
        left: 200px; 
    }
}

/* .btn.nav-btn:hover, .btn.nav-btn:focus, .btn.nav-btn:active, .btn.nav-btn:active:focus{
    background-color: white;
    color: #800000; 
} */


.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:active:focus{
    background-color: #800000; 
    color: white; 
}


.center {
    display: block; 
    text-align: center; 

}