body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}


p{
    font-size: 1.5em; 
}


.bmd-layout-drawer > .list-group .list-group-item {
    font-size: 1.25em; 
}

.current {
    border: 2px solid black; 
}


.image {
    display: block;
    width: 28em;
    margin-left: auto;
    margin-right: auto;
}