body {
    background: #DDDDDD;
    font-family:'Times New Roman', Times, serif; 
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}


p{
    font-size: 1.5em; 
}


.bmd-layout-drawer > .list-group .list-group-item {
    font-size: 1.25em; 
}

.current {
    border: 2px solid black; 
}


.image {
    display: block;
    width: 28em;
    margin-left: auto;
    margin-right: auto;
}

.btn.nav-btn {
    position: relative; 
    left: 500px; 
    top: -325px; 
    background-color: white;
    color: #800000; 
}

.btn.nav-btn:hover{
    background-color: white;
    color: #800000; 
}

.btn.nav-btn:focus{
    background-color: white;
    color: #800000; 
}

.center {
    display: block; 
    text-align: center; 

}